<?xml version="1.0"?>
<!--
/**
 * Bitcoin module configuration
 *
 * @package Mtgox
 * @module Bitcoin
 */
 -->
<config>
    <modules>
        <Mtgox_Bitcoin>
            <version>1.0.5</version>
        </Mtgox_Bitcoin>
    </modules>
    <global>
        <blocks>
            <mtgoxbitcoin>
                <class>Mtgox_Bitcoin_Block</class>
            </mtgoxbitcoin>
        </blocks>
        <helpers>
            <mtgoxbitcoin>
                <class>Mtgox_Bitcoin_Helper</class>
            </mtgoxbitcoin>
        </helpers>
        <models>
            <mtgoxbitcoin>
                <class>Mtgox_Bitcoin_Model</class>
                <resourceModel>bitcoin_mysql4</resourceModel>
            </mtgoxbitcoin>
            <mtgoxbitcoin_mysql4>
                <class>Mtgox_Bitcoin_Model_Mysql4</class>
                <entities>
                    <mtgoxbitcoin>
                        <table>mtgox_bitcoin</table>
                    </mtgoxbitcoin>
                </entities>
            </mtgoxbitcoin_mysql4>
        </models>
        <resources>
            <mtgoxbitcoin_setup>
                <setup>
                    <module>Mtgox_Bitcoin</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </mtgoxbitcoin_setup>
            <mtgoxbitcoin_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </mtgoxbitcoin_write>
            <mtgoxbitcoin_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </mtgoxbitcoin_read>
        </resources>
    </global>

    <frontend>
        <routers>
            <mtgoxbitcoin>
                <use>standard</use>
                <args>
                    <module>Mtgox_Bitcoin</module>
                    <frontName>mtgoxbitcoin</frontName>
                </args>
            </mtgoxbitcoin>
        </routers>
        <layout>
            <updates>
                <mtgoxbitcoin>
                    <file>mtgoxbitcoin.xml</file>
                </mtgoxbitcoin>
            </updates>
        </layout>
    </frontend>

    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <mtgox_bitcoin>
                                            <title>MtGox Bitcoin</title>
                                        </mtgox_bitcoin>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>

    <default>
        <payment>
            <mtgox>
                <model>mtgoxbitcoin/bitcoin</model>
                <title>MtGox Bitcoin</title>

                <active>0</active>

                <merchant_id />
                <key />
                <secret />

                <order_status>pending</order_status>
                <order_autosell>0</order_autosell>
                <order_email>0</order_email>
                <order_instant_only>0</order_instant_only>
            </mtgox>
        </payment>
    </default>
</config>